@import url('https://fonts.googleapis.com/css?family=Quicksand');


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: white;
  font-family: Quicksand;
}

p {
  color: black;
  font-weight: bolder;
}

h2 {
  font-weight: bolder;
  font-size: 40px;
  color: black;
}  

.gamebutton {
  border: 1px solid black ! important;
  width: 20px; 
  height: 20px;
  margin: 1px 1px;
  border-radius: 8px;
}

.gamebutton:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}

.control-buttons {
  width: 60%;
  margin: auto auto;
}

.control-buttons button, .modifier-buttons button {
  background-color: white;
  color: #F06292;
  font-family: Quicksand ;
  margin: 15px auto;
  border: 2px solid #F06292;
  border-radius: 15px;
}

.control-buttons button:hover, .modifier-buttons button:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}

.modifier-buttons {
  width: 60%;
  margin: auto auto;
  color: white;
}
/* 
.grid-holder {

} */

.generation-info {
  margin-top: 10px;
  color: white;
}
/* .generation-info .row {
} */
.generation-info .row i {
  font-size: 30px;
  color: black;
}
.generation-info .row p {
  padding-top: 4px
}

.far, .fas, .fab, .fa {
  font-size: 30px;
  margin-top: 20;
  color: inherit;
  padding: 4px;
}

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }