@import url('https://fonts.googleapis.com/css?family=Quicksand');

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0277BD;
}

body {
  color: #00838F;
  background-color: white;
  font-family: Quicksand;
}

p {
  color: inherit;
  font-weight: bolder;
}

h2 {
  margin: 40px auto 15px auto ;
  font-weight: bolder;
  font-size: 32px;
  color: inherit;
}  

.gamebutton {
  border: 1px solid #00BCD4 ! important;
  width: 20px; 
  height: 20px;
  margin: -1px 1px;
  border-radius: 8px;
}

.control-buttons {
  width: 30%;
  max-width: 340px;
  margin: auto auto;
  margin-bottom: -10px;
}

.btn {
  background-color:#00838F;
  color: white;
  font-family: Quicksand ;
  margin: 15px auto;
  /* border: 2px solid #009688; */
  border-radius: 15px;
}

.btn:hover {
  background-color: #48C9B0;
  cursor: pointer;
  color: white;
}

.grid-holder {
  margin-bottom: 30px;
}

.generation-info {
  width: 400px;
  margin: 20px auto 0px auto;
}

.generation-info .row i {
  margin-right: -20px;
  font-size: 30px;
}

.generation-info .row p {
  margin-left: -20px;
  padding-top: 4px
}
.modifier-buttons {
  width: 30%;
  max-width: 340px;
  margin: -10px auto;
  color: white;
}

/* .modifier-buttons button {
  width: 40%;
} */

.modifier-buttons i {
  font-size: 25px;
  margin: 20;
  color: inherit;
  padding: 4px;
}

button:active, button:focus {
  outline: none;
  box-shadow: none;
}


/*  */
  /* @keyframes App-logo-spin { */
    /* from { */
      /* transform: rotate(0deg); */
    /* } */
    /* to { */
      /* transform: rotate(360deg); */
    /* } */
  /* } */