@import url('https://fonts.googleapis.com/css?family=Quicksand');

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0277BD;
}

body {
  color: #00838F;
  background-color: white;
  font-family: Quicksand;
}

p {
  color: inherit;
  font-weight: bolder;
}

h2 {
  margin: 40px auto 15px auto ;
  font-weight: bolder;
  font-size: 32px;
  color: inherit;
}  

.gamebutton {
  display: inline-block;
  border: 1px solid #00BCD4 ! important;
  width: 10px; 
  height: 10px;
  max-width: 10px;
  margin: 1px;
  border-radius: 8px;
}


.btn {
  background-color:#00838F;
  color: white;
  font-family: Quicksand;
  font-size: 20px;
  margin: 15px auto;
  /* border: 2px solid #009688; */
  border-radius: 15px;
}

.btn:hover, .gamebutton:hover {
  background-color: #48C9B0;
  cursor: pointer;
  color: white;
}

.control-buttons {
  width: 50%;
  max-width: 350px;
  min-width: 230px;
  margin: auto auto;
  margin-bottom: -10px;
}

.control-buttons button {
  font-size: 18px;
}

.grid-holder {
  margin-bottom: 30px;
}

.generation-info {
  width: 50%;
  max-width: 350px;
  min-width: 230px;
  margin: 20px auto -10px auto;
}

.generation-info .row i {
  margin-right: -10px;
  font-size: 25px;
}

.generation-info .row p {
  font-size: 15px;
  display: inline;
  
}
.modifier-buttons {
  width: 50%;
  max-width: 350px;
  min-width: 230px;
  margin: -10px auto;
  color: white;
}

/* .modifier-buttons button {
  width: 40%;
} */

.modifier-buttons i {
  margin: 20;
  color: inherit;
  padding: 4px;
}

button:active, button:focus {
  outline: none;
  box-shadow: none;
}


/*  */
  /* @keyframes App-logo-spin { */
    /* from { */
      /* transform: rotate(0deg); */
    /* } */
    /* to { */
      /* transform: rotate(360deg); */
    /* } */
  /* } */