@import url('https://fonts.googleapis.com/css?family=Raleway');

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0277BD;
}

body {
  color: rgb(41, 43, 146);
  background-color: white;
  font-family: Raleway;
  /* font-weight: lighter; */
}

p {
  color: inherit;
  font-weight: bolder;
}

h2 {
  margin: 50px auto 15px auto ;
  font-weight: bolder !important;
  font-size: 32px;
  color: inherit;
}  

h5 {
  color: rgba(108, 108, 124, 0.829);
  font-weight: bolder;
}

hr {
  border: 0.5px solid rgba(140, 144, 173, 0.829);
  margin: 0;
}

.gamebutton {
  display: inline-block;
  border: 1px solid rgb(41, 43, 146);
  width: 12px; 
  height: 12px;
  max-width: 12px;
  margin: 1px;
  border-radius: 8px;
}


.btn {
  background-color: rgba(140, 144, 173, 0.829);
  color: black;
  font-family: Quicksand;
  font-size: 18px !important;
  margin: 15px auto;
  /* border: 2px solid #36055e; */
  border-radius: 15px;
}

.btn:hover, .gamebutton:hover {
  background-color: rgb(41, 43, 146);
  cursor: pointer;
  color: white;
}

.control-buttons {
  width: 30%;
  max-width: 350px;
  min-width: 230px;
  margin: auto auto;
  /* margin-bottom: -10px; */
}

.control-buttons button {
  font-size: 18px;
}

.grid-holder {
  margin-bottom: 30px;
}

.generation-info {
  width: 50%;
  max-width: 350px;
  min-width: 230px;
  margin: 20px auto -10px auto;
}

.generation-info .row i {
  margin-right: -10px;
  font-size: 25px;
}

/* .generation-info .row p {
  font-weight: bolder;
  font-size: 15px;
  display: inline;
  
} */
.modifier-buttons {
  width: 50%;
  max-width: 350px;
  min-width: 230px;
  margin: 0px auto;
  /* color: white; */
}

/* .modifier-buttons button {
  width: 40%;
} */

.modifier-buttons i {
  /* margin: 20; */
  color: inherit;
  padding: 4px;
}

button:active, button:focus {
  outline: none;
  box-shadow: none;
}


/*  */
  /* @keyframes App-logo-spin { */
    /* from { */
      /* transform: rotate(0deg); */
    /* } */
    /* to { */
      /* transform: rotate(360deg); */
    /* } */
  /* } */